<div class="menu">
  <nav>
    <ul>
      <a>Products Word</a>
      <li><a href="#">List Products</a>
          <ul>
                <li><a [routerLink]="['/products/novel']">Novels</a></li>
                <li><a [routerLink]="['/products/house']">Houses</a></li>
          </ul>

      </li>
      <li><a href="#">Add Products</a>
        <ul>
              <li><a [routerLink]="['/product/novel']">Current Members</a></li>
              <li><a [routerLink]="['/product/house']">Former Members</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
