<div class="container" *ngIf="isLoading; else Loading">

  <div class="row">
    <h1 *ngIf="!isEdit">Add Novel</h1>
    <h1 *ngIf="isEdit" >Edit Novel</h1>
  </div>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >

    <div class="row">
      <label for="nameInput">Title</label>
      <input type="text" id="nameInput" placeholder="Title of de the novel " formControlName="name">
    </div>


    <div class="row">
      <label for="priceInput">Price</label>
      <input type="number" id="priceInput" placeholder="Insert price of de product" formControlName="price">
    </div>

    <div class="row">
      <label for="ageLimitInput">Date</label>
      <input type="number" id="ageLimitInput" placeholder="Age limit to read this book" formControlName="ageLimit">
    </div>

    <div class="row">
      <label for="authorInput">Details</label>
      <input type="text" id="authorInput" placeholder="Details" formControlName="author">
    </div>

    <div class="row">
      <label for="summaryInput">Summary</label>
      <input type="text" id="summaryInput" placeholder="Summary" formControlName="summary">
    </div>

    <div class="row">
      <label for="pathPosterInput">Path Poster</label>
      <input type="text" id="pathPosterInput" placeholder="Path to the image" formControlName="pathPoster">
    </div>

    <button class="block" *ngIf="!isEdit" type="submit" [disabled]="form.valid">Save</button>
    <button class="block" *ngIf="isEdit" type="submit" [disabled]="form.valid">Edit</button>
  </form>

</div>

<ng-template #Loading>
  Loading...
</ng-template>
